@font-face {
    font-family: Poppins Regular, sans-serif;
    font-display: auto;
    src: local('Poppins Regular'), url('/fonts/Poppins-Regular.woff');
    font-style: normal;
}
@font-face {
    font-family: Poppins Bold, sans-serif;
    font-display: auto;
    src: local('Poppins Bold'), url('/fonts/Poppins-Bold.woff');
    font-style: normal;
}