.services-info 
    .web
        .web__rectangle
         img(src="../img/Rectangle1.png", alt="rectangle")
        .web__line 
         img(src="../img/layout.png", alt="layout")
        h4 Web and mobile UI, UX design
        p We craft stunning and amazing web UI, using a well drrafted UX to fit your product.
    .graphic
        .graphic__rectangle
            img(src="../img/Rectangle2.png", alt="rectangle") 
        .graphic__line
         img(src="../img/pen-tool.png", alt="pen")
        h4 Graphic design
        p Amazing flyers, social media posts and brand representations that would make your brand stand out.
    .app 
        .app__rectangle
         img(src="../img/Rectangle3.png", alt="rectangle") 
        .app__line
         img(src="../img/smartphone.png", alt="smartphone")
        h4 Mobile app and web development
        p With well written codes, we build amazing apps for all platforms, mobile and web apps in general.