.our-stuff.inform
    .graphic-designer
        .graphic-designer__vector
            img(src="../img/bk.png", alt="back") 
        .graphic-designer__photo 
            img(src="../img/stuff1.png", alt="photo")
        h4 Harriet Jameson
        p Graphic Designer
        .graphic-designer.contacts
            .contacts__fb 
             img(src="../img/fb.png", alt="fk")
            .contacts__tw 
             img(src="../img/tw.png", alt="tw")
            .contacts__li 
             img(src="../img/li.png", alt="li")
    .web-designer
        .web-designer__vector
            img(src="../img/bk2.png", alt="back") 
        .web-designer__photo 
            img(src="../img/stuff2.png", alt="photo")
        h4 Harriet Jameson
        p Graphic Designer
        .web-designer.contacts 
            .contacts__fb 
             img(src="../img/fb.png", alt="fk")
            .contacts__tw 
             img(src="../img/tw.png", alt="tw")
            .contacts__li
             img(src="../img/li.png", alt="li")
    .content-creator
        .content-creator__vector
            img(src="../img/bk3.png", alt="back") 
        .content-creator__photo 
            img(src="../img/stuff3.png", alt="photo")
        h4 Harriet Jameson
        p Graphic Designer
        .content-creator.contacts 
            .contacts__fb 
                img(src="../img/fb.png", alt="fk")
            .contacts__tw 
             img(src="../img/tw.png", alt="tw")
            .contacts__li
             img(src="../img/li.png", alt="li")